* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(216, 150, 133, 0.8);
  overflow: hidden;
}

body .about-page {
  margin: 32vh;
  justify-content: center;
}

.error-page {
  background-image: url("./images/h2o-error-image.jpg");
  background-size: 200vh;
  background-repeat: none;
  object-fit: cover;
  overflow: hidden;
}

.about-page header{
  text-align: center;
}

img {
  height: 52vh;
}

main .about-par {
  margin: 13vh;
  width: 60vh;
}

.err-message {
  background-color: rgba(107, 139, 198, 0.4);
  border-radius: 12px;
  box-shadow: 0 0 20px #a2bde8;
  text-shadow: 0 0 10px #044372;
  color: white;
  height: 40vh;
  width: 50vh;
  margin: 15vh 15vh;
  padding: 10vh;
}
.err-message button {
  border-radius: 10px;
  background: #387ae3;
  height: 5vh;
  width: 15vh;
  margin-top: 52px;
}
.err-message button a {
  text-decoration: none;
  color:#044372;
  font-weight: 600;
}

.err-message button:hover {
  border: 3px solid #699aea;
  border-radius: 10px;
  background: #387ae3;
  height: 6vh;
  width: 16vh;
}